<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>search-bpm</title>
    <link rel="stylesheet" href="../static/style.css">
    <!-- reset.css destyle -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/destyle.css@1.0.15/destyle.css"/>
    <!-- icons -->
    <link rel="shortcut icon" href="../icon/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="../icon/apple-touch-icon-180x180.png" sizes="180x180">
    <link rel="icon" type="image/png" href="../icon/android-chrome-192x192.png" sizes="192x192">
    <!-- フォントの追加 -->
    <link rel="stylesheet" href="https://use.typekit.net/edq4suy.css">
</head>
<body>
    <header>
        <div class="header-logo">
            <img src="../icon/icon-96x96.png">
        </div>
        <ul class="header-contents">
            <li><button href="#" id="top-btn">TOP</button></li>
            <li><button href="#" id="search-btn"><img src="../icon/sarch-icon.png"></button></li>
            <!-- <li><button href="#">SIGN UP</button></li>
            <li><button href="#">SIGN IN</button></li> -->
        </ul>
    </header>
    <main>
        <div id="top-main">
            <div class="bpm-value">
                <span id="sliderValue">50</span> BPM
            </div>
            <button id="restart-btn">START</button>
            <div id="sliders">
                <input type="range" id="slider" class="slider" min="50" max="250" value="50" step="1">
                <div class="humburger-menu">
                    <button class="menu-toggle"><img src="../icon/option.png"></button>
                    <div class="menu" id="menu">
                        <div class="menu-item" data-sound="../sound/click.mp3">メトロノーム</div>
                        <div class="menu-item" data-sound="../sound/click_2.mp3">メトロノーム2</div>
                        <div class="menu-item" data-sound="../sound/click_3.mp3">メトロノーム3</div>
                        <div class="menu-item" data-sound="../sound/zunndamon.mp3">ずんだもん</div>
                    </div>
                </div>
            </div>
            <audio id="click-sound" preload="auto"></audio>
        </div>
        <div class="search-main none" id="search-main">
            <div id="search-textbox">
                <form id="searchForm" action=""><!--formタグを追加-->
                    <div class="search-wrapper">          
                        <img src="../icon/sarch-icon-black.png">
                        <input id="trackName" type="text" placeholder="曲名、アーティストを入力" required>
                    </div>
                </form>
            </div>
            <a href="#" id="results" ></a>
        </div>
        <div id="playtrack" class="playtrack none"></div>
        
    </main>
<!-- jQuery CDNで提供されたリンク -->
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script type="text/javascript" src="../static/common.js"></script>
<script type="text/javascript" src="../API/getAPI.js"></script>
</body>
</html>
