/* フォントの追加 */
/* font-family: "gothiks", sans-serif;
font-weight: 800;
font-style: normal; */

/* font-family: "quiroh", sans-serif;
font-weight: 900;
font-style: normal; */

/* font-family: "gemeli-mono", serif;
font-weight: 400;
font-style: normal; */
body {
    height: 780px;
    background-color: #000;
    color: #fff;
}

/* ヘッダー部分 */
header {
    height: 120px;
    border-bottom: solid 2px #0f0;
}

.header-logo img {
    margin: 12px 0 0 50px;
    float: left;
}

.header-contents {
    float: right;
}

.header-contents li {
    float: left;
    margin: 36px 40px 0 0;
    font-family: "quiroh", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 48px;
}

.header-contents img {
    margin-bottom: 46px;
    height: 48px;
    height: 48px;
}


.header-contents li :hover {
    transition: 0.5s;
    filter: brightness(0.5);
}

/* メイン部分 */
.main-container{
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.bpm-value {
    margin: 100px 0 80px 0;
    font-size: 75px;
    font-family: "gemeli-mono", serif;
    font-weight: 400;
    font-style: normal;
}

#restart-btn {
    padding: 10px;
    margin-bottom: 80px;
    width: 30%;
    border: solid 3px #0f0;
    font-size: 60px;
    font-family: "gemeli-mono", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;

}
/* スライダーCSS */
.slider {
    -webkit-appearance: none;
    width: 50%;
    height: 5px;
    background: #ddd;
    outline: none;
}

/* Webkitブラウザ用（Chrome, Safari, Opera） */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #000; /* 色を設定 */
    cursor: pointer;
    border-radius: 50%; /* 丸くする */
    border: solid 2px #0f0;
}

/* Firefox用 */
.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #000; /* 色を設定 */
    cursor: pointer;
    border-radius: 50%; /* 丸くする */
    border: solid 2px #0f0;
}