/* フォントの追加 */
/* font-family: "gothiks", sans-serif;
font-weight: 800;
font-style: normal; */

/* font-family: "quiroh", sans-serif;
font-weight: 900;
font-style: normal; */

/* font-family: "gemeli-mono", serif;
font-weight: 400;
font-style: normal; */
body {
    height: 780px;
    background-color: #000;
    color: #fff;
}

/* ヘッダー部分 */
header {
    height: 120px;
    border-bottom: solid 2px #0f0;
}

.header-logo img {
    margin: 20px 0 0 50px;
    height: 80px;
    width: 80;
    float: left;
}

.header-contents {
    float: right;
}

.header-contents li {
    float: left;
    margin: 36px 40px 0 0;
    font-family: "quiroh", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 48px;
}

.header-contents img {
    margin-bottom: 46px;
    height: 48px;
    height: 48px;
}


.header-contents li :hover {
    transition: 0.5s;
    filter: brightness(0.5);
}

/* メイン部分 */
#top-main{
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.bpm-value {
    margin: 100px 0 80px 0;
    font-size: 75px;
    font-family: "gemeli-mono", serif;
    font-weight: 400;
    font-style: normal;
}

#restart-btn {
    padding: 10px;
    margin-bottom: 80px;
    width: 30%;
    border: solid 3px #0f0;
    font-size: 60px;
    font-family: "gemeli-mono", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;

}


/* ハンバーガーメニュー */
.menu {
    display: none;
    position: absolute;
    bottom: 50px;
    left: 50px;
    width: 150px;
    background-color: #000;
    border: 1px solid #0f0;
    padding: 10px;
    z-index: 1000;
}

.menu-item {
    padding: 5px 10px;
    color: #fff;
    cursor: pointer;
}

.menu-item:hover {
    transition: 0.5s;
    filter: brightness(0.5);
}

.menu-toggle {
    cursor: pointer;
    height: 48px;
    width: 48px;
    transition: transform 1s ease;
    transform-origin: center; 
    margin: 0 0 30px 10px;
}


#slider {
    display: inline;
}

.humburger-menu {
    display: inline;
    position: relative;
}


/* スライダーCSS */
.slider {
    -webkit-appearance: none;
    width: 600px;
    height: 5px;
    background: #ddd;
    outline: none;
    margin-bottom: 24px;
}

/* Webkitブラウザ用（Chrome, Safari, Opera） */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #000; /* 色を設定 */
    cursor: pointer;
    border-radius: 50%; /* 丸くする */
    border: solid 2px #0f0;
}

/* Firefox用 */
.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #000; /* 色を設定 */
    cursor: pointer;
    border-radius: 50%; /* 丸くする */
    border: solid 2px #0f0;
}

#search-textbox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.search-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

#search-textbox input{
    background-color: #333;
    border: solid 2px #0f0;
    border-radius: 10px;
    padding: 30px 80px;
    height: 90px;
    width: 800px;
    font-size: 30px;
    z-index: 1;
    color: #fff;
}

#search-textbox img {
    position: absolute;
    left: 20px;
    height: 40px;
    width: 40px;
    z-index: 2;
}

.none {
    display: none;
}
